<div class="container" [class.selecionado]="estaExpandido">
    
    <div class="modulo-header" (click)="toggleModulo()">
        <div class="header-info">
            <div class="icon-play-main">
                <i class="ph-fill ph-play"></i>
            </div>
            
            <div class="textos">
                <h3 class="modulo-titulo">{{ modules.title }}</h3>
                <span class="modulo-tempo">04:28 min</span>
            </div>
        </div>
        
        <i class="ph icon-arrow {{ estaExpandido ? 'ph-caret-up' : 'ph-caret-down' }}"></i>
    </div>

    @if (estaExpandido) {
        <div class="lista-aulas">
            @for (aula of modules.classes; track aula.class_id) {
                <div
                    class="aula-item"
                    [class.aula-ativa]="aula.class_id === activeClassId"
                    (click)="selecionarAula(aula)"
                >
                    <input type="checkbox" [checked]="aula.is_completed" class="check-aula" (click)="$event.stopPropagation()">
                    <span class="aula-nome">{{ aula.title }}</span>
                </div>
            } @empty {
                <p class="modulo-tempo">Nenhuma aula cadastrada.</p>
            }
        </div>
    }
</div>