<div class="container">
    @for (modulo of modules; track modulo.module_id) {
        <h3 class="modulo-titulo">{{ modulo.title }}</h3>

        @for (aula of modulo.classes; track aula.class_id) {
            <div class="aula-item">
                <div class="aula-info-esquerda">
                    <button class="btn-play">
                        <i class="ph-fill ph-play"></i>
                    </button>
                    <div class="aula-detalhes">
                        <span class="aula-nome">{{ aula.title }}</span>

                        @if (aula.is_completed) {
                            <span class="aula-status">Concluída ✅</span>
                        } @else {
                            <span class="aula-tempo">04:28 min</span>
                        }
                    </div>
                </div>
                <i class="ph ph-caret-right seta-item"></i>
            </div>
        }
    } @empty {
        <p>Nenhum conteúdo disponível para este curso.</p>
    }
</div>
