<nav>
    <div class="logo">
        <img id="logo" src="/assets/RibbitLogo.png" alt="Logo do Mascote Ribbit">
        <img id="text" src="/assets/RibbitText.png" alt="Ribbit">
    </div>
    @if (showPublic) {
    <div class="button-row">
        <app-custom-button variant="white" label="LOGIN" routerLink="/login"></app-custom-button>
        <app-custom-button variant="green" label="CADASTRO" routerLink="/logon"></app-custom-button>
    </div>
    } @else {
    <div class="menu-row">
        <div class="menu-links">
            <a routerLink="/home">Página Inicial</a>
            @if (isAdmin()) {
            <a routerLink="/users" class="nav-link-admin">Gerenciar Usuários</a>
            }
        </div>
        <a routerLink="/profile">
            <img [src]="avatarUrl()" (error)="avatarUrl.set('assets/GenericAvatar.png')" alt="Perfil" class="navbar-avatar">
        </a>
    </div>
    }
</nav>