.home-container {
    flex: 1;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    background: var(--azul) url('/assets/CloudBGLow.svg') no-repeat center;
    background-size: cover;
    overflow-x: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.home-section{
    background-color: var(--branco);
    border-radius: 30px;
    padding: 32px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    margin-top: 40px;
}

.activities-grid, .cursos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 32px;
    justify-items: center;
    width: 100%;
}

.section-header {
    margin-bottom: 20px;
    font-size: x-large;
    color: var(--verde-escuro);
}

.recent-activities{
    margin: 100px 80px 0px 80px;
    align-items: stretch;
}

.catalog-section {
    flex-grow: 1;
    width: 100%; 
    background-color: var(--branco);
    border-radius: 30px 30px 0 0;
    padding: 60px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

app-card-curso-dashboard {
    display: flex;
    flex-direction: column;
}

app-card-curso-dashboard ::ng-deep .card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

app-footer ::ng-deep .footer {
    background-color: var(--verde-claro);
}

