<div class="container">
    @if (curso()) {
        <section class="curso-header-card">
            <h1 class="titulo-curso">{{ curso().title }}</h1>
            
            <div class="header-content">
                <div class="banner-placeholder">
                    <img [src]="curso().banner_url | driveImg" alt="Banner do Curso">
                </div>

                <div class="description">
                    <div class="texto-informativo">
                        @if (curso().teacher_name) {
                            <small class="professor-nome">Instrutor: {{ curso().teacher_name }}</small>
                        }
                        <p>{{ curso().description }}</p>

                        <div class="btn-row">
                            <app-custom-button class="btn-iniciar-curso" (click)="startCourse()" variant="blue" label="Iniciar Curso">
                                Iniciar Curso
                            </app-custom-button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="modulos-card">
            <h2 class="modulos-titulo">Módulos</h2>
            
            @for (modulo of curso().modules; track modulo.module_id) {
                <app-modules 
                    [modules]="modulo"
                    (classSelected)="abrirAula($event)">
                </app-modules>
            } @empty {
                <p>Nenhum conteúdo disponível para este curso.</p>
            }
        </section>
    } @else {
        <div class="loading-state">
            <p>Carregando estrutura do curso...</p>
        </div>
    }

</div>